.compre_junto.dis-none{
    display: block !important;
}

.compre_junto .buy-together-content h4{
    margin: 20px 0;
    text-transform: uppercase;
    font-family: Oswald,sans-serif;
    font-size: 31px;
    font-weight: 700;
    color: #000;
}

.compre_junto .buy-together-content table{
    width: 100%;
}

.compre_junto .buy-together-content table .itemA,
.compre_junto .buy-together-content table .itemB{
    width: 300px !important;
    padding: 0 20px;
}

.compre_junto .buy-together-content table .itemA a img,
.compre_junto .buy-together-content table .itemB a img{
    width: 295px !important;
    height: auto !important;
}

.compre_junto .buy-together-content table .itemA h3 a,
.compre_junto .buy-together-content table .itemB h3 a{
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    padding: 10px 0 20px;
    height: 85px;
}

.compre_junto .buy-together-content table .itemA h3,
.compre_junto .buy-together-content table .itemB h3{
    margin: 15px 0;
}

.compre_junto .buy-together-content table .plus{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.compre_junto .buy-together-content table .equal{
    color: white;
}

.compre_junto .buy-together-content table .buy{
    width: 350px !important;
    text-align: center;
    font-size: 26px;
}
    
.compre_junto .buy-together-content table .buy .comprar-junto a{
    width: 100%;
    height: 75px;
    line-height: 74px;
    font-size: 40px;
    font-weight: bold;
    font-family: Oswald,sans-serif;
    color: #fff;
    background-color: #3eca73;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    background-image: url(/arquivos/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 35px;
    text-align: left;
}

.compre_junto .buy-together-content table .buy .more{
    display: none;
}

@media screen and (max-width:768px) {
    .compre_junto .buy-together-content h4{
        text-align: center;
    }
    
    .compre_junto .buy-together-content table {
        width: auto;
        margin: 0 auto;
    }
    
    .compre_junto .buy-together-content table tbody{
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    .compre_junto .buy-together-content table tbody tr,
    .compre_junto .buy-together-content table tbody td{
        display: block;
    }
    
    
    .compre_junto .buy-together-content table .itemA, 
    .compre_junto .buy-together-content table .itemB,
    .compre_junto .buy-together-content table .buy {
        width: 100% !important;
        text-align: center;
    }
    
    .compre_junto .buy-together-content table .buy .comprar-junto a{
        background-image: none !important;
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .compre_junto .buy-together-content table .plus{
        position: relative;
        bottom: 4.5pc;
    }
}