.account {
  main {
    h2,
    h3 {
      font-weight: bold;
      font-family: $font-secundaria;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    h2 {
      font-size: 31px;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 22px;
      margin-bottom: 15px;
    }

    form {
      fieldset {
        width: 50%;
        float: left;
        padding-right: 50px;
        margin-bottom: 70px;

        @media screen and (max-width: $mobile) {
          width: 100%;
          padding: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.step-3 {
          margin-bottom: 20px;
        }

        input[name="user-id"] {
          display: none;
        }

        input[readonly="readonly"] {
          background-color: #f2f2f2;
        }

        input[type="text"],
        input[type="number"],
        input[type="tel"] {
          width: 100%;
          height: 35px;
          border: 1px solid #dcdcdc;
          text-indent: 10px;
          margin-bottom: 10px;
          transition: border 0.3s;
        }

        input[type="submit"] {
          width: 180px;
          height: 50px;
          font-size: 22px;
          letter-spacing: 1px;
          font-weight: bold;
          font-family: $font-secundaria;
          color: white;
          text-align: left;
          cursor: pointer;
          text-transform: uppercase;
          background-color: black;
          background-image: url(/arquivos/right-arrow.png);
          background-repeat: no-repeat;
          background-position: 95%;
          background-size: 22px;
        }
      }
    }
  }
}