.cadastro {
    header {
        padding: 30px 0;
        margin-bottom: 15px;
        background-color: #f8f8f8;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                h1 {
                    font-size: 26px;
                    text-transform: uppercase;
                }
            }
        }
    }

    main {
        @media screen and (max-width:$mobile) {
            padding: 0 15px;
        }

        >.columns {
            @media screen and (min-width:$mobile) {
                display: flex;
                min-height: 1200px;
                align-items: flex-start;
                justify-content: flex-start;
            }

            @media screen and (max-width:$mobile) {
                &.column_2 {
                    > header.desktop{
                        display: none;
                    }
                }
            }

            .column {
                &.column_1 {
                    @media screen and (min-width:$mobile) {
                        margin-right: 40px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &.column_2 {
                    > header.desktop{
                        width: 160px;
                        background: #fff;
                        margin: 0;
                        padding-top: 30px;
                        padding-bottom: 0px;
                    }
                    .first {
                        >h2 {
                            font-size: 30px;
                            line-height: 30px;
                            margin-bottom: 15px;
                            text-transform: uppercase;
                        }
                    }

                    .second {
                        .timeline {
                            width: 100%;
                            position: relative;
                            margin-bottom: 90px;
                            margin-top: 35px;

                            &[data-id="1"] {
                                ul {
                                    li {
                                        &:nth-child(1) {
                                            i {
                                                background-color: #076CCE;

                                                svg {
                                                    path {
                                                        fill: #fff;
                                                    }
                                                }
                                            }

                                            p {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                                &:after {
                                    background: linear-gradient(90deg, rgb(7, 108, 206) 21%, rgb(218, 233, 248) 21%);
                                }
                            }

                            &[data-id="2"] {
                                ul {
                                    li {

                                        &:nth-child(1),
                                        &:nth-child(2) {
                                            i {
                                                background-color: #076CCE;

                                                svg {
                                                    path {
                                                        fill: #fff;
                                                    }
                                                }
                                            }

                                        }
                                        &:nth-child(2) {
                                            p {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                                &:after {
                                    background: linear-gradient(90deg, rgb(7, 108, 206) 50%, rgb(218, 233, 248) 50%)
                                }
                            }

                            &[data-id="3"] {
                                ul {
                                    li {

                                        &:nth-child(1),
                                        &:nth-child(2),
                                        &:nth-child(3) {
                                            i {
                                                background-color: #076CCE;

                                                svg {
                                                    path {
                                                        fill: #fff;
                                                    }
                                                }
                                            }
                                        }
                                        &:nth-child(3) {
                                            p {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                                &:after {
                                    background: linear-gradient(90deg, rgb(7, 108, 206) 79%, rgb(218, 233, 248) 79%)
                                }
                            }

                            &[data-id="4"] {
                                ul {
                                    li {

                                        &:nth-child(1),
                                        &:nth-child(2),
                                        &:nth-child(3),
                                        &:nth-child(4) {
                                            i {
                                                background-color: #076CCE;

                                                svg {
                                                    path {
                                                        fill: #fff;
                                                    }
                                                }
                                            }
                                        }
                                        &:nth-child(4) {
                                            p {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                                &:after {
                                    background: linear-gradient(90deg, rgb(7, 108, 206) 100%, rgb(218, 233, 248) 100%)
                                }
                            }

                            @media screen and (max-width:$mobile) {
                                margin-bottom: 75px;
                                ul {
                                    li{
                                        position: inherit !important;
                                    }
                                    p {
                                        left: 0;
                                        width: 100vw;
                                    }
                                }
                            }

                            &:after {
                                left: 0;
                                top: 55px;
                                height: 5px;
                                width: 100%;
                                content: '';
                                display: block;
                                position: absolute;
                                margin-top: -2.5px;
                                background-color: #DAE9F8;

                                @media screen and (max-width:$mobile) {
                                    top: 30px;
                                }
                            }

                            ul {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                li {
                                    position: relative;

                                    i {
                                        z-index: 1;
                                        width: 110px;
                                        display: flex;
                                        height: 110px;
                                        border-radius: 50%;
                                        position: relative;
                                        align-items: center;
                                        transition: all 300ms;
                                        justify-content: center;
                                        background-color: #DAE9F8;

                                        @media screen and (max-width:$mobile) {
                                            width: 60px;
                                            height: 60px;

                                            svg {
                                                width: 27px;
                                                height: auto;
                                            }
                                        }

                                        svg {
                                            transition: all 300ms;

                                            path {
                                                fill: #076CCE;
                                            }
                                        }
                                    }

                                    p {
                                        opacity: 0;
                                        font-size: 16px;
                                        margin-top: 15px;
                                        color: #076CCE;
                                        font-weight: bold;
                                        position: absolute;
                                        transition: opacity 300ms;
                                    }
                                }
                            }
                        }

                        #consulta_cnpj {
                            width: 48%;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }

                            fieldset {
                                height: 50px;
                                max-width: 100%;
                                background-color: #f5f8fc;
                                border: 1px solid #266bb9;

                                @media screen and (min-width:$mobile) {
                                    margin: 5px 0 0;
                                }

                                @media screen and (max-width:$mobile) {
                                    margin: 5px 0 15px;
                                }

                                input {
                                    float: left;
                                    height: 100%;

                                    &[type="text"] {
                                        width: 70%;
                                        text-indent: 15px;
                                        background-color: #f5f8fc;
                                    }

                                    &[type="submit"] {
                                        width: 30%;
                                        font-size: 16px;
                                        cursor: pointer;
                                        color: #076cce;
                                        font-weight: bold;
                                        background-color: transparent;
                                    }
                                }
                            }
                        }

                        form {
                            height: auto;
                            margin: 40px 0;
                            transition: all 300ms;

                            @media screen and (min-width:$mobile) {
                                width: 840px;
                            }

                            &.disabled {
                                filter: grayscale(1);
                                pointer-events: none;
                            }

                            .step {
                                fieldset {
                                    @media screen and (min-width:$mobile) {
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: space-between;
                                    }

                                    p {
                                        @media screen and (min-width:$mobile) {
                                            width: 48%;
                                        }

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                        }

                                        &.full {
                                            width: 100%;
                                        }

                                        label {
                                            color: #242424;
                                            font-weight: bold;

                                            &.title_ie {
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;

                                                span {
                                                    display: flex;
                                                    align-items: center;

                                                    i {
                                                        width: 20px;
                                                        height: 20px;
                                                        color: #fff;
                                                        font-weight: 300;
                                                        line-height: 20px;
                                                        margin-left: 10px;
                                                        text-align: center;
                                                        position: relative;
                                                        border-radius: 50px;
                                                        border: 1px solid #266bb9;
                                                        background-color: $cor-principal;

                                                        &:hover {
                                                            &:after {
                                                                display: block;
                                                            }
                                                        }

                                                        &:after {
                                                            top: -1px;
                                                            right: -1px;
                                                            height: auto;
                                                            width: 300px;
                                                            padding: 10px;
                                                            display: none;
                                                            color: #266bb9;
                                                            border-radius: 5px;
                                                            position: absolute;
                                                            background-color: #f5f8fc;
                                                            content: 'Inscri\00e7\00e3 o Estadual \00e9\00a0 o registro do contribuinte no cadastro do ICMS mantido pela Receita Estadual.';
                                                        }
                                                    }
                                                }
                                            }

                                            &.checkbox {
                                                display: flex;
                                                align-items: center;

                                                input[type="checkbox"] {
                                                    width: 20px;
                                                    height: 20px;
                                                    margin-right: 10px;
                                                }
                                            }
                                        }

                                        input {

                                            &[type="text"],
                                            &[type="number"] {
                                                width: 100%;
                                                height: 50px;
                                                text-indent: 15px;
                                                margin: 5px 0 15px;
                                                border-radius: 2px;
                                                background-color: #F5F8FC;
                                                border: 1px solid #266BB9;
                                            }

                                            &[readonly="readonly"] {
                                                pointer-events: none;
                                                border-color: #E6ECF3;
                                                background-color: #E6ECF3;
                                            }
                                        }
                                    }
                                }

                                &:not(.step_1) {
                                    display: none;
                                }

                                &.step_4 {
                                    margin-bottom: 20px;
                                    > p{
                                        display: none;
                                        @media screen and (max-width:$mobile) {
                                            display: block;
                                            margin-bottom: 20px;
                                            margin-top: -20px;
                                        }
                                    }
                                    >ul {
                                        @media screen and (min-width:$mobile) {
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: space-between;
                                        }

                                        li {
                                            @media screen and (min-width:$mobile) {
                                                &.full {
                                                    width: 100%;
                                                    margin-bottom: 15px;
                                                }

                                                &.half {
                                                    width: 49%;
                                                }
                                            }

                                            @media screen and (max-width:$mobile) {
                                                margin-bottom: 15px;
                                            }

                                            article {
                                                padding: 15px;
                                                background-color: #f8f8f8;

                                                .title {
                                                    display: flex;
                                                    font-size: 18px;
                                                    font-weight: bold;
                                                    margin-bottom: 20px;
                                                    align-items: center;
                                                    text-transform: uppercase;
                                                    justify-content: space-between;

                                                    .edit {
                                                        width: 30px;
                                                        height: 30px;
                                                        cursor: pointer;
                                                        line-height: 30px;
                                                        text-align: center;
                                                        border-radius: 50px;
                                                        background-color: #00407D;
                                                    }
                                                }

                                                .columns {
                                                    @media screen and (min-width:$mobile) {
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: space-between;

                                                        .column {
                                                            width: 50%;
                                                        }
                                                    }

                                                    .column {
                                                        p {
                                                            font-size: 15px;
                                                            margin-bottom: 15px;

                                                            strong {
                                                                display: block;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .pagination {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            &[data-id="1"] {
                                .back {
                                    opacity: 0;
                                    pointer-events: none;
                                }
                            }

                            &[data-id="4"] {
                                .next {
                                    display: none !important;
                                }
                            }

                            &:not([data-id="4"]) {
                                .register {
                                    display: none !important;
                                }
                            }

                            .back {
                                width: 80px;
                                height: 60px;
                                display: flex;
                                font-weight: 0;
                                cursor: pointer;
                                border-radius: 2px;
                                align-items: center;
                                justify-content: center;
                                transition: opacity 300ms;
                                background-color: #A2A2A2;
                            }

                            button {
                                display: none;
                            }

                            .next,
                            .register {
                                width: 270px;
                                height: 60px;
                                color: #fff;
                                display: flex;
                                font-size: 18px;
                                cursor: pointer;
                                line-height: 60px;
                                font-weight: bold;
                                text-align: center;
                                border-radius: 2px;
                                align-items: center;
                                justify-content: center;
                                background-color: $cor-cta;

                                img {
                                    margin-left: 10px;
                                }
                            }

                            @media screen and (max-width:$mobile) {
                                .back{
                                    width: 70px;
                                    margin-right: 10px;
                                }
                                .cadastro, .register{
                                    width: 210px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}