.departamento {
  .full_banner {
    .mobile {
      img {
        width: 100%;
      }
    }
  }

  .titulo-sessao {
    font-size: 40px;
    font-weight: bold;
    color: #242424;
    text-align: center;
    letter-spacing: 0px;
    text-transform: uppercase;

    @media screen and (min-width:$mobile) {
      margin: 20px 0 40px;
    }
  }

  .navigation,
  .navigation-tabs {
    @media screen and (min-width:$mobile) {
      position: relative;

      &:after {
        z-index: -1;
        content: '';
        top: -120px;
        right: -15px;
        width: 1000px;
        display: block;
        position: absolute;
        height: calc(100% + 160px);
        background-color: #F0F0F0;
      }
    }

    .menu-departamento {
      @media screen and (max-width:$mobile) {
        top: 0;
        z-index: 12;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 15px;
        position: fixed;
        overflow-x: hidden;
        transition: all 300ms;
        background-color: white;

        &.active {
          left: 0;
        }

        //CLOSE
        span.rt {
          width: 100%;
          display: block;
          text-align: right;
          padding-bottom: 10px;

          &:after {
            content: '';
            width: 19px;
            height: 19px;
            display: inline-block;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/arquivos/ico-close.png);
          }
        }
      }

      .menu-navegue {
        display: none;
      }

      .search-single-navigator {
        h3,
        h4 {
          cursor: pointer;
          font-size: 20px;
          margin-top: 5px;
          color: #242424;
          padding-top: 5px;
          font-weight: bold;
          margin-bottom: 20px;
          border-top: 1px solid #dcdcdc;

          &:not(.empty) {
            a {
              pointer-events: none;
            }

            &:after {
              float: right;
              content: '-';
            }
          }

          &.closed {
            &:after {
              content: '+';
            }
          }
        }

        ul {
          li {
            &:last-child {
              margin-bottom: 50px;
            }

            &:not(:last-child) {
              margin-bottom: 15px;
            }

            a {
              font-size: 13px;
              color: #161616;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .search-multiple-navigator{
    > h3, > h4{
      display: none;
    }
    fieldset{
      > h5{
        cursor: pointer;
        font-size: 18px;
        margin-top: 5px;
        color: #242424;
        padding-top: 15px;
        font-weight: bold;
        margin-bottom: 15px;
        border-top: 1px solid #dcdcdc;
        &:after {
          float: right;
          content: '-';
        }
      }
      div{
        label{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px;
          position: relative;
          input{
            display: none;
          }
          &:before{
            content: '';
            width: 15px;
            height: 15px;
            border: 1px solid #4f4f4f;
            display: inline-block;
            position: relative;
            border-radius: 3px;
            margin-right: 8px;
          }
          &.actived{
            &:before{
              background: #4f4f4f;
            }
            &::after{
              content: '';
              border: solid #fff;
              border-width: 0 1px 1px 0;
              display: inline-block;
              padding: 0 4px 8px 0;
              left: 5px;
              top: 4px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              position: absolute;
            }
          }
        }
        &.actived{
          display: none;
        }
      }
    }
    @media (max-width: 991px) {
      fieldset{
        div{
          height: 225px;
          overflow: auto;
        }
      }
    }
  }

  .resultado-busca-filtro{
    position: relative;
    .orderBy_new {
      display: none;
      background: #fff;
      padding: 8px 19px;
      -webkit-box-shadow: 1px 2px 5px -1px rgba(51,51,51, 0.5);
      -moz-box-shadow: 1px 2px 5px -1px rgba(51,51,51,0.5);
      box-shadow: 1px 2px 5px -1px rgba(51,51,51, 0.5);
      z-index: 11;
      label{
        padding: 4px 0;
        text-align: left;
        input{
          display: none;
        }
      }
      &.opened{
        display: block;
        position: absolute;
        right: 0;
      }
    }
  }

  .title_orderBy_new{
    @media (max-width: 991px) {
        font-size: 0;
    }
    span{
      padding: 8px 12px 8px 12px;
      background: #fff;
      border: 1px solid #333;
      margin-left: 8px;
      position: relative;
      cursor: pointer;
      user-select: none;
      width: 160px;
      display: inline-block;
      text-align: left;
      font-size: 15px;
      &::after{
        content: '';
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg); 
        -webkit-transform: rotate(45deg);
        right: 10px;
        position: absolute;
        top: 12px;
        transition: 350ms;
      }
      &.up::after{
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        top: 16px;
      }
    }
  }

  .tags{
    display: none;
    float: left;
    margin-top: 10px;
    width: 100%;
    @media (max-width: 810px) {
      display: block;
    }
    ul{
      display: flex;
      li{
        padding: 5px;
        border: 1px solid #333;
        margin: 0 5px;
        position: relative;
        &::before{
          content: 'x';
          color: red;
          font-size: 15px;
          position: absolute;
          right: -5px;
          top: -12px;
        }
      }
    }
  }

  .main {
    .searchResultsTime {
      width: 50%;
      float: left;
      text-align: left;

      @media screen and (max-width:$mobile) {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
      }

      .resultado-busca-numero {
        height: 40px;
        line-height: 40px;

        .label {
          display: none;
        }

        .value {
          font-size: 16px;
          color: #242424;
          font-weight: bold;

          &:after {
            font-weight: 300;
            margin-left: 5px;
            content: 'produtos';
          }
        }
      }

      .resultado-busca-termo,
      .resultado-busca-tempo {
        display: none;
      }
    }

    .open_filter {
      @media screen and (max-width:$mobile) {
        width: 160px;
        float: left;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #707070;
        background-repeat: no-repeat;
        background-position: 15px 9px;
        background-image: url(/arquivos/ico-filter.png);
      }
    }

    .sub {
      width: 50%;
      float: left;
      text-align: right;

      @media screen and (max-width:$mobile) {
        width: calc(100% - 160px);
      }

      .resultado-busca-filtro {

        .filterBy,
        .compare {
          display: none;
        }

        .orderBy {
          label {
            display: inline-block;

            @media screen and (max-width:$mobile) {
              display: none;
            }
          }

          select {
            height: 40px;
            outline: none;
            font-size: 14px;
            padding: 0 5px;
            appearance: none;
            font-weight: bold;
            -moz-appearance: none;
            text-align-last: center;
            -webkit-appearance: none;
            border: 1px solid #9B9B9B;
            -moz-text-align-last: center;
            -webkit-text-align-last: center;

            @media screen and (max-width:$mobile) {
              border: none;
              direction: rtl;
              font-size: 14px;
              appearance: none;
              font-weight: normal;
              text-align-last: right;
              text-decoration: underline;
              -moz-text-align-last: right;
              -webkit-text-align-last: right;

              option {
                direction: rtl;
              }  
            }
          }
        }
      }
    }

    .vitrine {
      clear: both;
      padding-top: 15px;

      &+.searchResultsTime {
        display: none;

        @media screen and (max-width:$mobile) {
          &+.open_filter {
            display: none;

            &+.sub {
              display: none;
            }
          }
        }

        &+.sub {
          display: none;
        }
      }

      @media screen and (max-width:$mobile) {
        padding-top: 40px;
      }

      .pager {
        display: none;
      }

      .prateleira {
        >ul {
          margin: 0 -3px;
          flex-wrap: wrap;

          >li {
            padding: 0 3px;
            margin-bottom: 15px;
            width: calc(100% / 3);

            @media screen and (max-width:$mobile) {
              width: 100%;
            }
          }
        }
      }

      .btn-load-more {
        width: 240px;
        height: 50px;
        display: block;
        cursor: pointer;
        font-size: 16px;
        line-height: 50px;
        font-weight: bold;
        text-align: center;
        margin: 30px auto 60px;
        border: 1px solid #000;
        text-transform: lowercase;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          margin-left: 5px;
          display: inline-block;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(/arquivos/down-arrow.png);
        }
      }
    }
  }

  .description {
    margin: 100px 0;
    padding-top: 20px;
    border-top: 1px solid #dcdcdc;

    p {
      font-size: 14px;

      strong {
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
}