.page-error {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  height: 690px;
  padding-top: 20px;

  @media screen and (min-width: 1290px) {
    width: 1210px;
    margin: 0 auto;
    display: block;
  }

  @media screen and (max-width: 769px) {
    height: 530px;
    padding-top: 0px;
  }

  @media screen and (max-width: 690px) {
    height: auto;
  }

  &:before {
    display: block;
    content: "";
    width: 490px;
    height: 410px;
    background: url("/arquivos/img-background-one.jpg");
    position: absolute;
    margin-left: 80px;

    @media screen and (min-width: 1290px) {
      margin-left: 0;
    }

    @media screen and (max-width: 769px) {
      margin-left: 0px;
      width: 375px;
      height: 320px;
    }

    @media screen and (max-width: 690px) {
      width: 180px;
      height: 185px;
    }
  }

  &:after {
    display: block;
    content: "";
    width: 975px;
    height: 370px;
    background: url("/arquivos/img-background-two.jpg");
    position: absolute;
    margin-top: 320px;
    margin-left: 390px;
    left: 0;
    top: 0;

    @media screen and (min-width: 1290px) {
      left: auto;
      right: 0;
      margin-left: 0;
    }

    @media screen and (max-width: 769px) {
      width: 615px;
      height: 235px;
      background-size: 100%;
      margin-left: 155px;
      margin-top: 290px;
    }

    @media screen and (max-width: 690px) {
      position: relative;
      width: 100%;
      margin-left: 0;
      margin-top: 0px;
      height: 190px;
      background-repeat: no-repeat;
      margin-top: 45px;
      background: url("/arquivos/mobile-imagem-error.jpg");
      background-size: 100% 100%;
    }
  }

  .contain-error {
    font-family: $font-secundaria;
    z-index: 1;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 110px;
    padding: 0;

    @media screen and (max-width: 769px) {
      margin-top: 90px;
    }

    @media screen and (max-width: 690px) {
      height: auto;
      margin-top: 10px;
      padding: 0 15px;
    }

    .title-error {
      color: #d3515d;
      font-size: 240px;
      line-height: 1;
      text-align: center;
      font-family: $font-secundaria;
      font-weight: 400;

      @media screen and (max-width: 769px) {
        line-height: 0.9;
      }

      @media screen and (max-width: 690px) {
        font-size: 215px;
      }
    }

    .description-error {
      color: #fff;
      font-size: 30px;
      text-align: center;
      letter-spacing: 0.5px;
      line-height: 1.2;
      font-family: $font-secundaria;

      @media screen and (max-width: 690px) {
        color: #2e2e2e;
        font-size: 20px;
      }
    }

    .buttons-error {
      a {
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 10px 0px 0px 0px;
        height: 45px;
        font-size: 25px;
        width: 175px;
        line-height: 1;

        @media screen and (max-width: 769px) {
          width: calc((100% / 2) - 15px);
        }

        @media screen and (max-width: 690px) {
          height: 40px;
          padding-top: 8px;
          width: calc((100% / 2) - 10px);
        }

        &.left {
          margin-right: 15px;
          float: left;
          text-align: right;
          background: #eeeeee;
          color: #2e2e2e;

          @media screen and (max-width: 690px) {
            margin-right: 5px;
          }

          &:before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 9px;
            background: url("/arquivos/left-arrow-pg-error.png");
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            margin-top: 8px;
          }
        }

        &.right {
          margin-left: 15px;
          text-align: left;
          background: #2e2e2e;
          color: #eeeeee;

          @media screen and (max-width: 690px) {
            margin-left: 5px;
          }

          &:after {
            content: "";
            display: inline-block;
            width: 12px;
            height: 9px;
            background: url("/arquivos/right-arrow-pg-error.png");
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            margin-top: 8px;
          }
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    // &.carrinho-vazio{

    // }

    &.error-500 {
      .description-error {
        text-align: left;
        padding-right: 20px;
        margin-bottom: 20px;

        @media screen and (max-width: 490px) {
          padding: 0px;
        }
      }
    }

    &.error-ops {
      .description-error {
        text-align: left;
        padding-left: 90px;
      }
    }

    &.carrinho-vazio {
      padding: 0 0px 0px 100px;

      @media screen and (max-width: 769px) {
        padding-left: 100px;
      }

      @media screen and (max-width: 690px) {
        padding-left: 15px;
        margin-top: 0;
      }

      .title-error {
        font-size: 95px;
        text-align: left;
        line-height: 1.3;
        line-height: 1.1;
        margin-bottom: 35px;

        @media screen and (max-width: 769px) {
          margin-top: 15px;
        }

        @media screen and (max-width: 690px) {
          margin-top: 0;
        }
      }

      .description-error {
        text-align: left;
      }
    }

    &.ops {
      padding: 0 0px 0px 165px;

      @media screen and (max-width: 769px) {
        padding-left: 180px;
      }

      @media screen and (max-width: 690px) {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
      }

      .title-error {
        text-align: left;

        @media screen and (max-width: 690px) {
          font-size: 200px;
        }
      }

      .description-error {
        text-align: left;

        @media screen and (max-width: 690px) {
          font-size: 18px;
        }
      }

      .busca {
        width: 385px;
        position: relative;

        @media screen and (max-width: 690px) {
          width: 100%;
        }

        .input-busca {
          width: 100%;
          height: 50px;
          font-size: 12px;
          font-family: Open Sans;
          border-radius: 5px;
          padding-left: 15px;
          border: none;

          &::placeholder {
            font-family: "Open Sans", sans-serif;
            font-size: 13px;

            @media screen and (max-width: 690px) {
              font-size: 11px;
            }
          }

          @media screen and (max-width: 690px) {
            border: 1px solid #d7d7d7;
          }
        }

        .submit-busca {
          width: 45px;
          height: 50px;
          background: url("/arquivos/submit-busca.png");
          background-color: #404040;
          right: 0;
          position: absolute;
          top: 0;
          border: 2px solid #fff;
          border-radius: 5px;
          background-repeat: no-repeat;
          background-size: 23px;
          background-position: 10px 12px;
          cursor: pointer;
          text-indent: -9999px;
        }
      }
    }
  }
}

body.erro-500 {
  .page-error {
    .title-error {
      text-align: left;

      @media screen and (max-width: 769px) {
        text-align: center;
        margin-bottom: 15px;
      }
    }

    .description-error {
      width: 350px;
      margin-bottom: 15px;

      @media screen and (max-width: 769px) {
        width: auto;
      }
    }
  }
}

body.erro-404 {
  .page-error {
    .title-error {
      text-align: left;

      @media screen and (max-width: 769px) {
        text-align: center;
        margin-bottom: 15px;
      }
    }

    .description-error {
      width: 350px;
      margin-bottom: 10px;

      @media screen and (max-width: 769px) {
        width: auto;
        margin-bottom: 15px;
      }
    }
  }
}

body.buscavazia {
  .page-error {
    .title-error {
      text-align: left;

      @media screen and (max-width: 769px) {
        text-align: center;
        margin-bottom: 15px;
      }
    }

    .description-error {
      margin-bottom: 20px;

      @media screen and (max-width: 769px) {
        width: auto;
        margin-bottom: 15px;
      }
    }
  }

  footer {
    margin-top: 0;
  }
}
