footer {
    .row_1 {
        .news {
            .columns {
                display: flex;
                justify-content: space-between;
            
                .column {
                    &.column_1 {
                        h3 {
                            strong {
                                display: block;
                                font-size: 28px;
                                max-width: 265px;
                                line-height: 30px;
                                text-transform: uppercase;
                            }

                            small {
                                display: block;
                                font-size: 16px;
                                margin-top: 10px;
                                font-weight: 300;
                            }
                        }
                    }

                    &.column_2 {
                        form {
                            .title {
                                font-size: 16px;
                                font-weight: bold;
                            }

                            fieldset {
                                height: 60px;
                                margin: 5px 0;
                                background-color: #fff;
                                border: 1px solid #dcdcdc;

                                input {
                                    float: left;
                                
                                    
                                    &[type="email"] {
                                        width: 70%;
                                        height: 100%;
                                        text-indent: 45px;
                                        background-position: 15px;
                                        background-repeat: no-repeat;
                                        background-image: url(/arquivos/ico-mail.png);
                                    }

                                    &[type="submit"] {
                                        width: 30%;
                                        height: 65%;
                                        color: #fff;
                                        cursor: pointer;
                                        font-weight: bold;
                                        margin-top: 11px;
                                        margin-left: -11px;
                                        background-color: #000;
                                        text-transform: uppercase;
                                    }
                                }
                            }

                            .message {
                                display: block;
                                font-size: 12px;
                                color: #707070;

                                a {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .row_2 {
        margin: 20px 0;
        padding: 30px 0;
        background-color: #F9F9F9;

        .toggle {
            @media screen and (max-width:$mobile) {
                margin: 0 -15px;
                padding: 0 15px;
                border-bottom: 1px solid #dcdcdc;

                .title {
                    &:after {
                        content: '+';
                        float: right;
                    }

                    &.active {
                        &:after {
                            content: '-';
                        }
                    }
                }

                ul {
                   display: none; 
                   margin-bottom: 20px;
                }
            }
        }

        .columns {
            @media screen and (min-width:$mobile) {
                display: flex;
                justify-content: space-between;
            }

            .column {
                .title {
                    font-size: 18px;
                    font-weight: bold;

                    @media screen and (min-width:$mobile) {
                        margin-bottom: 30px;
                    }

                    @media screen and (max-width:$mobile) {
                        padding: 12px 0;
                    }
                }

                ul {
                    li {
                        margin-top: 7px;

                        a {
                            font-size: 16px;
                        }
                    }
                }

                &.column_5 {
                    .tel {
                        font-size: 20px;
                    }

                    .hour {
                        p {
                            font-size: 12px;
                            margin-top: 20px;
                            color: #7E7E7E;
                        }
                    }
                }

                &.column_6 {
                    @media screen and (max-width:$mobile) {
                        display: flex;
                        margin-top: 20px;
                        align-items: center;
                        justify-content: space-between;

                        .title {
                            margin-right: 15px;
                        }
                    }

                    ul {
                        display: flex;

                        li {
                            margin-top: 0;

                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .row_3 {
        .columns {
            @media screen and (min-width:$mobile) {
                display: flex;
                justify-content: space-evenly;
            }

            .title {
                margin-bottom: 10px;
            }

            ul {
                display: flex;

                @media screen and (max-width:$mobile) {
                    align-items: center;
                    justify-content: center;
                }

                li {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }

            .column {
                @media screen and (max-width:$mobile) {
                    margin-top: 30px;
                    text-align: center;
                } 

                //FORMAS DE PAGAMENTO
                &.column_1 {
                    svg {
                        width: 40px;
                        height: auto;
                    }
                }
            }
        }

        .copyright {
            font-size: 13px;
            color: #4B4B4B;
            margin: 30px 0 10px;
        }
    }
}

.whats{
    display: block !important;
    position: fixed;
    bottom: 15px;
    left: 15px; 
    svg{
        width: 60px !important;
        height: 60px !important
    }
    @media (min-width: 768px) {
        bottom: 10px;
        svg{
            width: 70px;
            height: 70px;
        }
    }
}