header {
    .row_0 {
        background-color: $cor-principal;

        #barra_frete {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 0;
            flex-direction: row;

            &.success {
                .column-1 {
                    .message_default {
                        display: none;
                    }

                    .message_success {
                        display: block;
                    }
                }

                .column-2 {
                    .barra {
                        background-color: #00ac5a;

                        span {
                            width: 0% !important;
                        }
                    }
                }
            }

            .column-1,
            .column-2 {
                width: 50%;
                display: flex;
                justify-content: center;
                align-content: center;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    text-align: center;
                }
            }

            .column-1 {
                @media screen and (max-width:$mobile) {
                    margin-bottom: 7px;
                }

                p {
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;

                    @media screen and (max-width:$iphone5) {
                        font-size: 10px;
                        letter-spacing: 0px;
                    }

                    @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                        font-size: 10px;
                        letter-spacing: 1px;
                    }
                }
            }

            .column-2 {
                .barra {
                    width: 320px;
                    height: 15px;
                    position: relative;
                    border: 1px solid white;
                    transition: background-color 300ms;
                    background-color: $cor-principal;
                    border-radius: 50px;
                    overflow: hidden;
                    margin-right: 15px;

                    @media screen and (max-width:$mobile) {
                        height: 12px;
                    }

                    span {
                        position: absolute;
                        top: -1px;
                        right: 0;
                        width: 100%;
                        height: 15px;
                        display: block;
                        transition: width 300ms;
                        background-color: black;
                    }
                }

                svg {
                    margin-top: -5px;

                    @media screen and (max-width:$mobile) {
                        height: 21px;
                    }
                }
            }
        }
    }

    .columns {
        display: flex;
        padding: 15px 0;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:$mobile) {
            padding: 5px 0;
            flex-wrap: wrap;
        }

        .column {
            &.column_0 {
                order: 1;

                #hamburger {
                    width: 30px;
                    height: auto;
                    display: block;

                    span {
                        width: 100%;
                        height: 2px;
                        display: block;
                        background-color: #000;

                        &:nth-child(2) {
                            margin: 8px 0;
                        }
                    }
                }
            }

            &.column_1 {
                @media screen and (max-width:$mobile) {
                    order: 2;
                }
            }

            &.column_2 {
                @media screen and (max-width:$mobile) {
                    top: 0;
                    width: 80%;
                    left: -100%;
                    z-index: 12;
                    height: 100%;
                    padding: 15px;
                    position: fixed;
                    overflow-x: hidden;
                    transition: left 300ms;
                    background-color: #fff;

                    &.active {
                        left: 0;
                    }
                }

                .head {
                    @media screen and (max-width:$mobile) {
                        ul {
                            display: flex;
                            justify-content: space-between;

                            li {
                                .text {
                                    p {
                                        strong {
                                            display: block;
                                            font-size: 16px;
                                            margin-top: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                nav {
                    @media screen and (max-width:$mobile) {
                        margin: 20px 0;
                        padding: 20px 0;
                        border-top: 1px solid #dcdcdc;
                        border-bottom: 1px solid #dcdcdc;
                        ;
                    }

                    >ul {
                        @media screen and (min-width:$mobile) {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }

                        >li {
                            position: relative;

                            @media screen and (min-width:$mobile) {
                                &:hover {
                                    .submenu {
                                        display: block;
                                    }
                                }

                                &:not(:last-child) {
                                    margin-right: 15px;
                                }
                            }

                            //MOBILE SUBMENU SHOW
                            @media screen and (max-width:$mobile) {
                                &.active {
                                    >a {
                                        display: none;
                                    }

                                    .submenu {
                                        display: block !important;
                                    }
                                }
                            }

                            >a {
                                display: block;

                                @media screen and (min-width:$mobile) {
                                    text-transform: uppercase;
                                }

                                @media screen and (max-width:$mobile) {
                                    font-size: 16px;
                                    margin-bottom: 15px;

                                    &[data-submenu="true"] {
                                        &:after {
                                            content: '\2192';
                                            float: right;
                                        }
                                    }
                                }
                            }

                            .submenu {
                                @media screen and (min-width:$mobile) {
                                    z-index: 2;
                                    height: auto;
                                    width: 700px;
                                    padding: 20px;
                                    position: absolute;
                                    background-color: #fff;
                                    box-shadow: 0px 3px 6px #00000029;
                                }

                                //BACK MENU - MOBILE
                                .back {
                                    @media screen and (max-width:$mobile) {
                                        padding: 5px 10px;
                                        margin-left: -15px;
                                        margin-bottom: 20px;
                                        width: calc(100% + 30px);
                                        background-color: #dcdcdc;

                                        &:before {
                                            content: ' \2190';
                                            margin-right: 15px;
                                        }
                                    }
                                }

                                .content {
                                    @media screen and (min-width:$mobile) {
                                        display: flex;

                                        .text {
                                            width: 65%;
                                        }

                                        .image {
                                            width: 35%;
                                        }
                                    }

                                    .text {
                                        @media screen and (min-width:$mobile) {
                                            display: flex;
                                        }

                                        ul {
                                            @media screen and (min-width:$mobile) {
                                                width: 33.3%;
                                            }

                                            li {
                                                margin-bottom: 12px;

                                                a {
                                                    text-transform: uppercase;
                                                }
                                            }
                                        }
                                    }

                                    .image {
                                        @media screen and (max-width:$mobile) {
                                            display: none;
                                        }

                                        img {
                                            max-width: 100%;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .footer {
                    @media screen and (max-width:$mobile) {
                        ul {
                            li {
                                margin-top: 30px;

                                p {
                                    strong {
                                        display: block;
                                        margin-bottom: 10px;
                                    }
                                }

                                .contact {
                                    a {
                                        height: 35px;
                                        display: flex;
                                        margin-bottom: 10px;
                                        align-items: center;
                                        justify-content: center;
                                        border: 1px solid #000;

                                        &.whatsapp {
                                            border-color: #4CAF50;
                                        }

                                        svg {
                                            margin-right: 5px;
                                        }
                                    }
                                }

                                .hour {
                                    p {
                                        small {
                                            font-size: 12px;
                                            font-weight: 300;
                                            line-height: 21px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.column_3 {
                @media screen and (max-width:$mobile) {
                    order: 4;
                    width: 100%;
                    margin-top: 15px;

                    &:not(.active) {
                        display: none;
                    }
                }

                .busca {
                    display: none;
                }

                .dis-none {
                    display: block;
                }

                form {
                    width: 250px;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }

                    fieldset {
                        width: 100%;
                        height: 30px;
                        border-bottom: 1px solid $cor-principal;

                        input {
                            height: 100%;
                            float: left;
                            background-color: transparent;

                            &[type="text"] {
                                width: 80%;
                                text-indent: 15px;

                                /* Edge */
                                &::-webkit-input-placeholder {
                                    color: #000;
                                }

                                /* Internet Explorer 10-11 */
                                &:-ms-input-placeholder {
                                    color: #000;
                                }

                                &::placeholder {
                                    color: #000;
                                }
                            }

                            &[type="submit"] {
                                width: 20%;
                                font-size: 0;
                                cursor: pointer;
                                background-repeat: no-repeat;
                                background-color: transparent;
                                background-position: center right;
                                background-image: url(/arquivos/ico-lupa.png);
                            }
                        }

                        .close {
                            float: left;
                            display: none;
                            font-size: 21px;
                            line-height: 30px;
                            font-weight: bold;
                            text-align: center;
                        }

                        .close,
                        input[type="submit"] {
                            width: 20%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }

                    &.show {
                        z-index: 12;
                        display: block;
                        position: relative;
                    }

                    //ATIVO - SHOOW
                    &.active {
                        z-index: 12;
                        position: relative;
                        background-color: #fff;

                        input[type="submit"] {
                            display: none;
                        }

                        +.result,
                        .close {
                            display: block;
                        }
                    }

                    +.result {
                        top: 80px;
                        left: 0;
                        z-index: 12;
                        display: none;
                        padding: 15px;
                        position: absolute;
                        background-color: white;

                        @media screen and (max-width:$mobile) {
                            top: 130px;
                            width: 100%;
                        }

                        @media screen and (min-width:$mobile) {
                            left: 15px;
                            width: calc(100% - 30px);
                        }

                        .digitando {
                            padding-bottom: 15px;
                            border-bottom: 1px solid #dcdcdc;

                            p {
                                font-weight: 400;

                                a {
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        .slider {

                            /* width */
                            ::-webkit-scrollbar {
                                width: 20px;
                                height: 9px;
                            }

                            /* Track */
                            ::-webkit-scrollbar-track {
                                border-radius: 10px;
                            }

                            /* Handle */
                            ::-webkit-scrollbar-thumb {
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            ul {
                                display: flex;
                                padding: 0 15px;
                                margin: 0 -15px;
                                overflow-x: auto;
                                min-height: 100px;
                                flex-wrap: nowrap;
                                padding-bottom: 15px;
                                justify-content: initial;
                                -webkit-overflow-scrolling: touch;
                                -ms-overflow-style: -ms-autohiding-scrollbar;

                                &:empty {
                                    background-size: 100px;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url('/arquivos/ajax-loader.gif');
                                }

                                li {
                                    width: 100%;
                                    height: auto;
                                    max-width: 260px;

                                    &:not(:last-child) {
                                        margin-right: 15px;
                                    }

                                    a {
                                        display: block;

                                        .image {
                                            width: 100%;
                                            height: 280px;
                                            display: block;
                                            background-size: 100%;
                                            background-position: center;
                                        }

                                        .content {
                                            h3 {
                                                height: 40px;
                                                margin-top: 5px;
                                                font-size: 16px;
                                                font-weight: 300;
                                                line-height: 17px;
                                                overflow: hidden;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                                text-transform: uppercase;
                                            }

                                            .detail {
                                                color:#fff;
                                                height: 30px;
                                                display: flex;
                                                max-width: 130px;
                                                padding-left: 10px;
                                                align-items: center;
                                                background-color: $cor-cta;

                                                &:after {
                                                    content: '';
                                                    width: 7px;
                                                    height: 7px;
                                                    margin-left: 5px;
                                                    display: inline-block;
                                                    background-position: center;
                                                    background-repeat: no-repeat;
                                                    background-image: url(/arquivos/ico-arrow-right.png);
                                                }
                                            }

                                            .price {
                                                font-size: 22px;
                                                font-weight: bold;
                                                color: $cor-principal;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .view {
                            height: 30px;
                            color: #fff;
                            display: block;
                            line-height: 30px;
                            text-align: center;
                            font-weight: bold;
                            background-color: $cor-cta;
                        }
                    }
                }
            }

            &.column_4 {
                @media screen and (max-width:$mobile) {
                    order: 3;
                }

                >ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    >li {
                        &:not(:last-child) {
                            margin-right: 15px;
                        }

                        &.with_hover {
                            position: relative;

                            @media screen and (min-width:$mobile) {
                                &:hover {
                                    .hover {
                                        display: block !important;
                                    }
                                }
                            }

                            .hover {
                                right: 0;
                                z-index: 1;
                                padding: 15px;
                                position: absolute;
                                background-color: #fff;
                                box-shadow: 0px 2px 5px 0px #dcdcdc;

                                >a {
                                    font-weight: 300;
                                }

                                .hour {
                                    color: #7e7e7e;
                                    font-weight: 300;
                                    margin-bottom: 30px;
                                }

                                a {
                                    display: block;
                                    margin: 10px 0;
                                }
                            }
                        }

                        >a {
                            font-weight: bold;
                        }
                    }
                }

                li.cart {
                    padding-left: 15px;
                    position: relative;
                    border-left: 1px solid #dcdcdc;

                    &.active {
                        #qtd {
                            display: block;
                        }
                    }

                    @media screen and (min-width:$mobile) {
                        &:hover {
                            #cart {
                                display: block;
                            }
                        }
                    }

                    >a {
                        display: block;
                        position: relative;

                        #qtd {
                            top: 0;
                            width: 17px;
                            height: 17px;
                            right: -9px;
                            font-size: 10px;
                            color: #fff;
                            line-height: 17px;
                            text-align: center;
                            position: absolute;
                            border-radius: 50px;
                            background-color: $cor-principal;

                            &:empty {
                                display: none;
                            }
                        }
                    }

                    #cart {
                        @media screen and (min-width:$mobile) {
                            width: 400px;
                            display: none;
                            border: 1px solid #000;
                        }

                        right: 0;
                        z-index: 12;
                        height: auto;
                        position: absolute;
                        background-color: #fff;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            bottom: -100%;
                            position: fixed;
                            transition: bottom 300ms;
                            border-top: 5px solid $cor-principal;

                            &.active {
                                bottom: 0;
                            }
                        }

                        /* width */
                        ::-webkit-scrollbar {
                            width: 5px;
                            height: 5px;
                        }

                        /* Track */
                        ::-webkit-scrollbar-track {
                            border-radius: 10px;
                            background-color: #dcdcdc;
                        }

                        /* Handle */
                        ::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            background-color: $cor-principal;
                        }

                        .header {
                            .toggle {
                                height: 50px;
                                padding: 0 15px;
                                font-weight: bold;
                                line-height: 50px;
                                background-position: 95%;
                                background-repeat: no-repeat;
                                background-image: url(/arquivos/ico-close.png);
                            }
                        }

                        .main {
                            padding: 20px;

                            @media screen and (max-width:$mobile) {
                                padding: 15px;
                            }

                            ul {
                                max-height: 315px;
                                overflow-x: hidden;
                                padding-right: 10px;

                                li {
                                    display: flex;
                                    position: relative;
                                    justify-content: space-between;

                                    .removeItem {
                                        top: 0;
                                        right: 0;
                                        width: 13px;
                                        height: 20px;
                                        display: block;
                                        cursor: pointer;
                                        position: absolute;
                                    }

                                    &:not(:last-child) {
                                        margin-bottom: 15px;
                                        padding-bottom: 15px;
                                        border-bottom: 1px solid #dcdcdc;
                                    }

                                    .image {
                                        width: 30%;
                                    }

                                    .content {
                                        width: 69%;

                                        .name {
                                            font-weight: 300;
                                            padding-right: 15px;
                                        }

                                        .box_count {
                                            width: 70px;
                                            height: 30px;
                                            display: flex;
                                            margin: 7px 0;
                                            padding: 0 3px;
                                            align-items: center;
                                            border: 1px solid #dcdcdc;
                                            justify-content: space-around;

                                            a {
                                                width: 15px;
                                                height: 15px;
                                                padding: 2px;
                                                color: #fff;
                                                line-height: 15px;
                                                text-align: center;
                                                background-color: #000;
                                            }

                                            input {
                                                width: 40%;
                                                text-align: center;
                                            }
                                        }
                                    }

                                }
                            }

                            .total {
                                font-size: 14px;
                                padding: 10px 0;
                                font-weight: 300;

                                strong {
                                    font-size: 16px;
                                }
                            }

                            >a {
                                width: 100%;
                                height: 40px;
                                color: #fff;
                                display: block;
                                font-weight: bold;
                                text-align: center;
                                line-height: 40px;
                                background-color: $cor-cta;

                                &.disabled {
                                    opacity: 0.3;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu_mobile-display{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    ul{
        overflow: auto;
        white-space: nowrap;
        scrollbar-width: none;
        padding-bottom: 6px;
        li{
            display: inline-block;
            padding: 0 15px;
            &:nth-child(1){
                padding-left: 0;
            }
            a{
                font-weight: 500;
                color: #707070;
            }
            &.actived{
                a{
                    font-weight: bold;
                    color: #333;
                    border-bottom: 3px solid #333;
                    padding-bottom: 3px;
                }
            }
        }
    }
}