.home {
    main {
        .full_banner {
            ul {
                &:not(.slick-slider) {
                    .box-banner {
                        &:not(:first-child) {
                            display: none;
                        }
                    }
                }

                .box-banner {
                    img {
                        display: inline-block;
                    }
                }
            }

            .slick-dots {
                @media screen and (max-width:$mobile) {
                    display: none;
                }
            }
        }

        .newsletter {
            padding: 20px;
            background-color: #000;

            @media screen and (max-width:$mobile) {
                margin: 0 -15px;
            }

            .columns {
                @media screen and (min-width:$mobile) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                @media screen and (max-width:$mobile) {
                    text-align: center;
                }

                .column {
                    &.column_1 {
                        color: #fff;
                        h2 {
                            strong {
                                display: block;
                                font-size: 30px;
                                max-width: 265px;
                                line-height: 32px;
                                text-transform: uppercase;

                                @media screen and (max-width:$mobile) {
                                    display: inline-block;
                                }
                            }

                            small {
                                display: block;
                                font-size: 16px;
                                margin-top: 10px;
                                font-weight: 300;
                            }
                        }
                    }

                    &.column_2 {
                        form {
                            fieldset {
                                height: 60px;
                                background-color: #fff;
                                border: 1px solid #dcdcdc;

                                @media screen and (max-width:$mobile) {
                                    margin: 20px 0;
                                }

                                input {
                                    float: left;
                                
                                    
                                    &[type="email"] {
                                        width: 70%;
                                        height: 100%;
                                        text-indent: 45px;
                                        background-position: 15px;
                                        background-repeat: no-repeat;
                                        background-image: url(/arquivos/ico-mail.png);
                                    }

                                    &[type="submit"] {
                                        width: 30%;
                                        height: 65%;
                                        color: #fff;
                                        font-weight: bold;
                                        margin-top: 11px;
                                        margin-left: -11px;
                                        background-color: #009F35;
                                        text-transform: uppercase;
                                    }
                                }
                            }

                            .message {
                                display: block;
                                margin-top: 5px;
                                font-size: 12px;
                                color: #fff; 

                                a {
                                    text-decoration: underline;
                                }

                                @media screen and (max-width:$mobile) {
                                    max-width: 80%;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }

        .prateleira {
            @media screen and (min-width:$mobile) {
                margin: 50px 0 100px;
            }

            @media screen and (max-width:$mobile) {
                margin: 30px 0;
            }
        }
    }
}