.institucional {



  &.trocas-e-devolucoes {
    .box-contato {
      &::after {
        opacity: 0;

        @media screen and (max-width: 769px) {
          opacity: 1;
        }
      }

      .col-lg-6 {
        .subtitle {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 15px;
        }
      }
    }
  }

  &.politica-de-compra {
    .box-contato {
      &::after {
        opacity: 0;

        @media screen and (max-width: 769px) {
          opacity: 1;
        }
      }

      .col-lg-6 {
        .subtitle {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 15px;
        }
      }
    }
  }

  &.politica-de-entrega {
    .box-contato {
      &::after {
        opacity: 0;

        @media screen and (max-width: 769px) {
          opacity: 1;
        }
      }

      .col-lg-6 {
        .subtitle {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 15px;
        }
      }
    }
  }

  &.politica-de-privacidade {
    .box-contato {
      &::after {
        opacity: 0;

        @media screen and (max-width: 769px) {
          opacity: 1;
        }
      }

      .col-lg-6 {
        .subtitle {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 15px;
        }
      }
    }
  }

  .quem-somos {
    @media screen and (min-width: $mobile) {
      padding: 30px 0;
    }

    .quem-somos-img {
      @media screen and (max-width: $mobile) {
        padding: 0px;
      }

      img {
        width: 100%;
        height: 485px;

        @media screen and (max-width: 769px) {
          width: 375px;
          height: 335px;
          margin-left: -40px;
        }

        @media screen and (max-width: $mobile) {
          width: 100%;
          height: auto;
          margin-left: auto;
        }
      }
    }

    .quem-somos-text {
      margin-top: 40px;

      @media screen and (max-width: 769px) {
        margin-top: 0px;
      }

      @media screen and (max-width: $mobile) {
        margin-top: -30px;
      }

      .title {
        font-family: $font-secundaria;
        color: #d3515d;
        font-size: 50px;
        text-transform: uppercase;
      }

      .subtitle {
        margin-bottom: 15px;
      }

      p {
        font-size: 13px;
        color: #2e2e2e;
        line-height: 1.3;
        margin-bottom: 15px;
        font-family: $font-principal;
      }
    }

    .box-contato {
      display: inline-block;
      width: 100%;
      padding-top: 280px;
      position: relative;
      height: 820px;

      @media screen and (min-width:$mobile) {
        margin-top: 80px;
      }

      @media screen and (max-width: $mobile) {
        padding-top: 30px;
        height: auto;
      }

      &:before {
        display: block;
        content: "";
        width: 585px;
        height: 420px;
        background: url("/arquivos/img-quem-somos-2.jpg");
        background-size: 100%;
        position: absolute;
        margin-top: -210px;
        margin-left: 310px;

        @media screen and (max-width: $mobile) {
          width: 490px;
          height: 360px;
          left: 0;
          margin-left: 0px;
        }

        @media screen and (max-width: $mobile) {
          margin-top: 0;
          margin-left: 0;
          position: relative;
          width: 255px;
          height: 230px;
          left: 0;
          background: url("/arquivos/img-quem-somos-3.jpg");
          margin: 0 auto 20px auto;
        }
      }

      &:after {
        display: block;
        content: "";
        width: 280px;
        height: 250px;
        background: url("/arquivos/img-quem-somos-3.jpg");
        background-size: 100%;
        position: absolute;
        right: 0;
        margin-top: -350px;

        @media screen and (max-width: $mobile) {
          margin-top: -250px;
          width: 255px;
          height: 230px;
        }

        @media screen and (max-width: $mobile) {
          margin-top: 0;
          margin-left: 0;
          position: relative;
          width: 100%;
          height: 270px;
          left: 0;
          background: url("/arquivos/img-quem-somos-2.jpg");
          z-index: -1;
          background-size: 100%;
        }
      }

      .box-atendimento {
        float: left;
        font-size: 13px;
        font-family: $font-principal;

        .box-title {
          font-size: 31px;
          color: #2e2e2e;
          font-family: $font-secundaria;
          margin-bottom: 15px;
          text-transform: uppercase;
        }

        span {
          text-transform: uppercase;
          display: block;
        }

        .box-conteudo {
          background: #fff;
          -webkit-box-shadow: 1px 2px 29px -10px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 1px 2px 29px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 2px 29px -10px rgba(0, 0, 0, 0.75);
        }

        &.telefone {
          @media screen and (max-width: 769px) {
            margin-top: 90px;
          }

          @media screen and (max-width: $mobile) {
            margin-top: 220px;
          }

          .box-conteudo {
            width: 540px;
            padding: 50px 20px;

            p {
              font-size: 16px;
              margin-bottom: 15px;
            }

            span {
              font-size: 16px;
              margin-bottom: 15px;
            }

            @media screen and (max-width: $mobile) {
              width: 100%;
              padding-top: 60px;
              padding-bottom: 30px;
            }

            .box-title {
              @media screen and (max-width: $mobile) {
                width: 180px;
              }
            }
          }
        }

        &.email {
          position: absolute;
          width: 485px;
          right: 0;
          padding-left: 0px;
          padding-right: 0px;

          @media screen and (max-width: 769px) {
            margin-top: 380px;
            padding-left: 0px;
            padding-right: 0px;
          }

          @media screen and (max-width: $mobile) {
            width: 100%;
            position: relative;
            right: auto;
            margin-bottom: 30px;
            margin-top: 0px;
            padding-left: 15px;
            padding-right: 15px;
          }

          .box-conteudo {
            margin-top: 95px;
            padding: 50px 20px 30px 20px;

            p {
              font-size: 16px;
              margin-bottom: 15px;
            }

            @media screen and (max-width: $mobile) {
              margin-top: 50px;
              padding-top: 20px;
            }
          }

          .box-title {
            margin-bottom: 0px;

            @media screen and (max-width: $mobile) {
              width: 180px;
            }
          }

          .form-contato {
            position: relative;

            input[type="email"],
            input[type="text"],
            textarea {
              display: block;
              width: 100%;
              height: 40px;
              margin-bottom: 10px;
              padding-left: 15px;
              border: 1px solid #e1e1e1;
              outline-color: #d3515d;

              &::placeholder {
                color: #9a9a9a;
                font-size: 16px;
              }

              &:-ms-input-placeholder {
                color: #9a9a9a;
                font-size: 16px;
              }

              &::-ms-input-placeholder {
                color: #9a9a9a;
                font-size: 16px;
              }

              &.text-area {
                height: 100px;
                margin-bottom: 25px;
                padding-top: 10px;
                font-size: 16px;
                font-family: $font-principal;

                &::placeholder {
                  color: #9a9a9a;
                  font-size: 16px;
                  font-family: $font-principal;
                }

                &:-ms-input-placeholder {
                  color: #644b4b;
                  font-size: 16px;
                  font-family: $font-principal;
                }

                &::-ms-input-placeholder {
                  color: #9a9a9a;
                  font-size: 16px;
                  font-family: $font-principal;
                }
              }
            }

            .link-home {
              font-size: 14px;
              color: #2e2e2e;
              text-decoration: underline;
              display: inline-block;
              margin-top: 10px;

              @media screen and (max-width: $mobile) {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
              }
            }

            input[type="submit"] {
              width: 165px;
              height: 45px;
              font-size: 30px;
              text-align: left;
              padding: 0;
              font-family: $font-secundaria;
              color: #e1e1e1;
              text-transform: uppercase;
              background: #292929;
              float: right;
              background-image: url(/arquivos/right-arrow-pg-error.png);
              background-repeat: no-repeat;
              background-position: 93%;
              position: relative;
              cursor: pointer;

              @media screen and (max-width: $mobile) {
                float: none;
                width: 100%;
                margin-top: 15px;
                margin-bottom: 40px;
              }
            }
          }

          p {
            @media screen and (max-width: $mobile) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}