#alerta {
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 15px;
    position: fixed;
    align-items: center;
    transition: all 300ms;
    justify-content: center;
    background-color: #0000006e;

    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f9f9f9;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $cor-principal;
    }

    >.content {
        background-color: #fff;

        @media screen and (max-width:$mobile) {
            width: 100%;
            max-height: 100%;
            overflow-x: hidden;
            padding: 25px 15px;
        }

        @media screen and (min-width:$mobile) {
            min-width: 435px;
            padding: 40px 30px;
        }

        article {
            &.step {
                >.title {
                    margin-bottom: 15px;
                    text-transform: uppercase;

                    @media screen and (min-width:$mobile) {
                        font-size: 23px;
                        line-height: 23px;
                    }

                    @media screen and (max-width:$mobile) {
                        font-size: 19px;
                        line-height: 19px;
                    }
                }

                >.description {
                    margin-bottom: 15px;
                }

                form {
                    &#login {
                        div.password {
                            display: flex;
                            margin-bottom: 10px;
                            align-items: center;
                            border: 1px solid #dcdcdc;
                            background-color: #f8f8f8;
                            justify-content: space-between;

                            input {
                                border: none !important;
                                margin-bottom: 0 !important;
                                background-color: transparent !important;
                            }

                            .view {
                                width: 40px;
                                cursor: pointer;
                                text-align: center;
                            }
                        }
                    }

                    fieldset {
                        label {
                            margin-bottom: 5px;
                        }

                        input {
                            height: 45px;

                            &:not([type="submit"]) {
                                width: 100%;
                                text-indent: 20px;
                                margin-bottom: 10px;
                                background-color: #f8f8f8;
                                border: 1px solid #dcdcdc;
                            }

                            &[type="submit"] {
                                width: 100%;
                                color: #fff;
                                cursor: pointer;
                                font-size: 20px;
                                font-weight: bold;
                                letter-spacing: 1px;
                                background-color: #000;
                                text-transform: uppercase;

                                @media screen and (max-width:$mobile) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                &.step_1 {
                    input {
                        &[type="submit"] {
                            margin: 10px 0;
                        }
                    }

                    p {
                        font-weight: 300;

                        strong {
                            color: $cor-principal;
                        }
                    }
                }

                .message {
                    ul {
                        margin-bottom: 15px;

                        li {
                            font-weight: 300;

                            strong {
                                display: block;
                                margin-bottom: 10px;
                            }

                            &.validate_password {
                                display: flex;
                                align-items: center;
                                transition: all 300ms;

                                &.active {
                                    color: #4B7F59;

                                    &:before {
                                        border-color: #4B7F59;
                                    }
                                }

                                &:before {
                                    width: 7px;
                                    content: '';
                                    height: 10px;
                                    display: block;
                                    margin-top: -4px;
                                    margin-right: 10px;
                                    transform: rotate(45deg);
                                    border-right: 1px solid #000;
                                    border-bottom: 1px solid #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.login {
    #alerta {
        .step {
            &.step_3 {
                label {
                    margin-top: 20px;
                }
            }
        }
    }
}

.login {
    font-family: 'Lato', sans-serif; 

    #alert {
        top: 0;
        left: 0;
        z-index: 12;
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;

        > .content {
            padding: 30px;
            background-color: #fff;

            article {
                &.step {
                    > .title {
                        font-size: 26px;
                        line-height: 26px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    main {
        .validate_password {
            display: flex;
            align-items: center;

            &.active  {
                &:before {
                    opacity: 1;
                }
            }

            &:before {
                content: '';
                display: block;
                border-right: 1.5px solid #33a95d;
                border-bottom: 1.5px solid #33a95d;
                width: 6px;
                height: 10px;
                transform: rotate(42deg);
                margin-right: 10px;
                transition: opacity 300ms;
                opacity: 0;
            }
        }

        section {
            h2 {
                font-size: 30px;
                font-weight: bold; 
                text-transform: uppercase;
                color: #354159;
                margin: 20px 0;
            }

            ul {
                li {
                    strong {
                        display: block;
                        margin-bottom: 8px;
                    }
                }
            }

            &.content {
                @media screen and (min-width:$mobile) {
                    overflow: hidden;
                    padding-bottom: 20px;
                }

                .box-1 {
                    padding-top: 100px;

                    @media screen and (max-width:$mobile) {
                        padding-bottom: 100px;
                    }
                }

                form {
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }

                    label {
                        font-size: 16px;
                        color: #292929;
                        margin-bottom: 5px;

                        &.choice_ie {
                            display: flex;
                            align-items: center;

                            input {
                                margin-right: 5px;
                            }
                        }
                    }

                    input[type="text"],
                    input[type="email"],
                    input[type="number"],
                    input[type="tel"],
                    input[type="password"] {
                        width: 100%;
                        height: 35px;
                        border: 1px solid #dcdcdc;
                        text-indent: 10px;
                        margin-bottom: 10px;
                        transition: border 300ms;

                        &.alert {
                            border: 1px solid red;
                        }
                    }

                    input[type="submit"] {
                        cursor: pointer;
                        color: #fff;
                        font-size: 18px;
                        font-weight: bold;
                        background-color: #d3515d;
                    }

                    input[name="user-id"] {
                        display: none;
                    }

                    input[readonly="readonly"] {
                        background-color: #f2f2f2;
                    }
                }

                &.login {
                    form {
                        @media screen and (min-width:$mobile) {
                            width: 370px;
                        }

                        input[type="text"],
                        input[type="email"],
                        input[type="number"],
                        input[type="password"] {
                            width: 100%;
                            height: 55px;
                        }
                    }

                    .box-1 {
                        .step-1 {
                            h2 {
                                margin: 5px 0 30px;
                            }

                            #login {
                                p {
                                    float: left;
                                }

                                input[type="password"] {
                                    margin-bottom: 30px;
                                }

                                input[type="submit"] {
                                    width: 170px;
                                    height: 50px;
                                    font-size: 18px;
                                    font-weight: bold;
                                    float: right;
                                }

                                .btn_forgot {
                                    font-size: 13px;
                                    color: #6bb5d1;
                                    text-decoration: underline;
                                    font-weight: bold;
                                }
                            }
                        }

                        .step-2 {
                            #consulta_cnpj {
                                padding: 15px;
                                margin-top: 130px;
                                box-shadow: 0px 0px 14px 0px #dcdcdc;

                                h2 {
                                    margin-top: 0;
                                    margin-bottom: 10px;
                                }

                                input[type="text"] {
                                    width: 80%;
                                    float: left;
                                }

                                input[type="submit"] {
                                    width: 20%;
                                    height: 55px;
                                    float: left;
                                    background-image: url(/arquivos/right-arrow.png);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    font-size: 0;

                                    &.loading {
                                        background-image: url(/arquivos/ajax-loader-white.gif?v=1000);
                                        background-size: 80%;
                                        background-position: center;
                                        color: transparent;
                                        background-repeat: no-repeat;
                                    }
                                }
                            }
                        }

                        .step-3 {
                            display: none;

                            #forgot_password {
                                input[type="email"] {
                                    margin: 10px 0;
                                }

                                input[type="submit"] {
                                    width: 170px;
                                    height: 55px;
                                    float: right;
                                }
                            }
                        }

                        .step-4 {
                            display: none;

                            #change_password {
                                fieldset {
                                    div {
                                        float: left;

                                        ul {
                                            margin-bottom: 15px;
                                            font-size: 13px;
                                        }

                                        &:nth-child(1) {
                                            width: 70%;
                                        }

                                        &:nth-child(2){
                                            width: 30%;
                                        }

                                        input[type="submit"] {
                                            width: 170px;
                                            height: 55px;
                                            float: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.info_cliente {
                    display: none;

                    .box-1 {
                        .timeline  {
                            width: 95%;
                            margin: 0 auto 50px;
                            position: relative;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }

                            &:after {
                                width: 100%;
                                height: 5px;
                                background-color: #81a6ba;
                                display: block;
                                content: '';
                                position: absolute;
                                margin-top: -2.5px;
                                top: 50%;
                                left: 0;
                            }

                            ul {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                li {
                                    width: 70px;
                                    height: 70px;
                                    line-height: 70px;
                                    position: relative;
                                    display: block;
                                    text-align: center;
                                    background-color: #81a6ba;
                                    color: white;
                                    border-radius: 50px;
                                    margin-right: 25px;
                                    font-size: 26px;
                                    z-index: 1;

                                    p {
                                        font-size: 10px;
                                        color: black;
                                        line-height: 12px;
                                        padding-top: 9px;

                                        @media screen and (max-width:$mobile) {
                                            font-size: 8px;
                                            line-height: 1;
                                        }
                                    }

                                    &:after {
                                        position: absolute;
                                        bottom: 0px;
                                        right: -10px;
                                        width: 19px;
                                        height: 15px;
                                        display: block;
                                        content: '';
                                        background-image: url(/arquivos/ico-check-mark.png?v=2000);
                                        opacity: 0;
                                    }

                                    &:last-child {
                                        margin-right: 0;
                                    }

                                    &.active {
                                        border: 4px solid #354159;
                                        line-height: 63px;
                                        background-color: #254279;

                                        &:after {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }

                        h2 {
                            margin: 20px 0 40px;
                        }

                        form {
                            p {
                                width: 50%;
                                float: left;

                                &:nth-child(1) {
                                    padding-right: 10px;
                                }

                                &:nth-child(2) {
                                    padding-left: 10px;
                                }
                            }

                            fieldset {
                                &.step-4 {
                                    padding: 30px 0;

                                    div {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        input[type="submit"] {
                                            width: 170px;
                                            height: 55px;
                                            text-transform: uppercase;

                                            &.loading {
                                                font-size: 0;
                                                background-size: 50px;
                                                background-position: center;
                                                background-repeat: no-repeat;
                                                background-image: url(/arquivos/ajax-loader-white.gif?v=1000);
                                                color: transparent;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .step-2,
                        .step-3,
                        .step-4 {
                            display: none;
                        }

                        .step-4 {
                            .back {
                                font-size: 16px;

                                &:before {
                                    content: '\00ab';
                                    margin-right: 5px;
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .box-2 {
                        img {
                            height: 100%;
                        }
                    }
                }

                &.nova_conta {
                    display: none;

                    .box-1 {
                        form {
                            input[type="text"],
                            input[type="email"],
                            input[type="number"],
                            input[type="password"] {
                                height: 55px;
                            }

                            input[type="submit"] {
                                width: 170px;
                                height: 55px;
                                text-transform: uppercase;
                                float: right;
                            }
                        }

                        .step-2 {
                            display: none;

                            form {
                                fieldset {
                                    p {
                                        margin-bottom: 20px;
                                    }
                                }

                                .buttons {
                                    div {
                                        float: left;

                                        ul {
                                            margin-bottom: 15px;
                                            font-size: 13px;
                                        }

                                        &:nth-child(1)  {
                                            width: 70%;    
                                        }

                                        &:nth-child(2) {
                                            width: 30%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.finish {
                    display: none;

                    .box-1 {
                        p {
                            font-size: 14px;
                            color: #989898;
                        }

                        a {
                            width: 170px;
                            height: 50px;
                            font-size: 18px;
                            font-weight: 700;
                            background-color: #d3515d;
                            color: #fff;
                            text-align: center;
                            line-height: 50px;
                            margin-top: 30px;
                            text-transform: uppercase;
                            float: right;
                        }
                    }
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;

            span {
                cursor: pointer;

                &.back {
                    font-size: 16px;

                    &:before {
                        content: '\00ab';
                        margin-right: 5px;
                    }
                }


                &.next {
                    width: 170px;
                    height: 55px;
                    line-height: 55px;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                    background-color: #d3515d;
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }

    footer {
        .row_1 {
            display: none;
        }
    }
}