.prateleira {
	.product_image{
		position: relative;
		.listSizes{
			display: none;
			position: absolute;
			bottom: 4px;
			background: #fff9;
			width: 100%;
			justify-content: center;
			transform: translatey(0);
			padding: 5px 0;
			flex-wrap: wrap;
			li{
				position: relative;
				&.out_stock{
					&::before{
						content: 'x';
						position: absolute;
						right: 0;
						color: #000;
						width: 100%;
						height: 100%;
						font-size: 39px;
						line-height: 28px;
						text-align: center;
					}
				}
				a{
					width: 28px;
					height: 28px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 2.5px;
					border: 1px solid #333;
					font-size: 10px;
					font-weight: bold;
					color: #333;
					&:hover{
						background-color: #333;
						color: #fff;
					}
				}	
			}
		}
		&:hover{
			.listSizes{
				display: flex;
			}
		}
	}
	h2 {
		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;

		@media screen and (min-width:$mobile) {
			font-size: 40px;
			line-height: 40px;
		}

		@media screen and (max-width:$mobile) {
			font-size: 30px;
			line-height: 30px;
		}
	}

	/* width */
	::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		border-radius: 10px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: transparent;
	}

	>ul {
		display: flex;
		margin: 0 -1px;

		@media screen and (max-width:$mobile) {
			overflow-x: auto;
			flex-wrap: nowrap;
			margin: 0 -15px 0 0;
			justify-content: initial;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}

		>li {
			height: auto;
			padding: 0 1px;
			width: calc(100% / 4);

			@media screen and (max-width:$mobile) {
				width: 90%;
				flex: 0 0 auto;
			}

			article {
				&:hover {

					.detalhes,
					.buttons {
						opacity: 1 !important;
					}
				}

				.product_name {
					height: 90px;
					margin-top: 5px;
					font-size: 14px;
					text-align: left;
					font-weight: bold;
					padding-right: 20px;
					text-transform: uppercase;
				}

				.content {
					.price {
						ul {
							display: flex;
							align-items: center;

							li {
								.de {
									font-size: 16px;
									color: #D83C3C;
									margin-right: 15px;
									text-decoration: line-through;
								}

								.por {
									font-size: 16px;
								}
							}
						}
					}

					.outOfStock {
						p {
							font-size: 18px;
							margin-bottom: 10px;
						}

						a {
							text-decoration: underline;
						}
					}

					//B2B
					.detalhes {
						opacity: 0;
						transition: opacity 300ms;

						@media screen and (max-width:$mobile) {
							display: none;
						}

						a {
							width: 60%;
							height: 45px;
							color: #fff;
							font-size: 18px;
							display: flex;
							line-height: 45px;
							font-weight: bold;
							align-items: center;
							justify-content: center;
							background-color: $cor-cta;

							img {
								margin-left: 5px;
							}
						}
					}

					.buttons {
						opacity: 0;
						transition: opacity 300ms;

						@media screen and (max-width:$mobile) {
							display: none;
						}

						ul {
							display: flex;
							margin-top: 20px;
							align-items: center;
							justify-content: space-between;

							li {
								a {
									&#openQuickview {
										display: flex;
										font-size: 13px;
										font-weight: bold;
										position: relative;
										align-items: center;

										&:after {
											content: '';
											width: 70%;
											height: 1px;
											bottom: -7px;
											display: block;
											position: absolute;
											background-color: black;
										}

										svg {
											margin-right: 5px;
										}
									}

									&#add_to_cart {
										width: 145px;
										height: 45px;
										color: #fff;
										font-size: 18px;
										display: flex;
										line-height: 45px;
										font-weight: bold;
										text-align: center;
										align-items: center;
										justify-content: center;
										text-transform: lowercase;
										background-color: $cor-cta;

										&:after {
											content: '';
											width: 10px;
											height: 10px;
											margin-left: 5px;
											display: inline-block;
											background-position: center;
											background-repeat: no-repeat;
											background-image: url('/arquivos/ico-arrow-right.png');
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}