.produto {
  main {
    margin-bottom: 100px;

    @media screen and (min-width: $mobile) {
      overflow-x: hidden;
    }

    .product_info {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 1170px;
      margin: 0 auto 30px;
      padding: 0 15px 40px;

      #add {
        display: none;

        top: 20px;
        z-index: 1;
        left: 30px;
        width: 160px;
        height: 40px;
        color: $cor-cta;
        position: absolute;
        line-height: 40px;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
        border: 1px solid $cor-cta;
        background-color: #e9fce9;
        box-shadow: 0px 2px 5px 0px black;
      }

      &[data-available="false"] {
        .box_count {
          display: none !important;
        }

        .notifyme {
          display: block !important;
        }
      }

      .column_1 {
        //THUMBS DESKTOP
        @media screen and (min-width: $mobile) {
          #thumbs {
            min-height: 670px;

            >ul {
              width: 100%;
              max-width: 655px;

              &:not(.slick-initialized),
              &:empty {
                &:after {
                  content: '';
                  width: 100%;
                  height: 770px;
                  display: block;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-image: url(/arquivos/ajax-loader.gif);
                }

                li {
                  display: none;
                }
              }
            }

            .slick-list {
              width: 670px;
              overflow: visible !important;

              .slick-slide {
                cursor: crosshair;
                margin-right: 15px;
                pointer-events: none;

                &.slick-active {
                  pointer-events: auto;
                }

                img {
                  &:not(.zoomImg) {
                    width: 670px !important;
                  }
                }
              }
            }
          }
        }
        
        //SHARE - ONLY MOBILE
        @media screen and (max-width:$mobile) {
          position: relative;
          
          #share {
            left: 0;
            z-index: 1;
            top: 15px;
            width: 40px;
            height: 40px;
            display: flex;
            position: absolute;
            border-radius: 50px;
            align-items: center;
            justify-content: center;
            background-color: $cor-principal;

            &[href="#"] {
              display: none;
            }

            svg {
              margin-left: -4px;
            }
          }
        }

        //THUMBS MOBILE
        @media screen and (max-width:$mobile) {
          #thumbs {
            >ul {
              display: flex;
              flex-wrap: wrap;
              margin: 0 -15px;
              flex-direction: row;

              &:not(.slick-initialized) {
                li {
                  &:not(:first-child) {
                    display: none;
                  }
                }
              }

              &:empty {
                li {
                  display: none;
                }

                &:after {
                  content: '';
                  width: 100%;
                  height: 300px;
                  display: block;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-image: url(/arquivos/ajax-loader.gif);
                }
              }

              li {
                max-width: 300px;
                margin-right: 5px;
              }

              .slick-list {
                width: 100%;
                height: auto;

                img {
                  width: 100%;
                  height: auto;
                }
              }

              .slick-dots {
                margin-top: 30px;
                overflow-x: auto;
                white-space: nowrap;
                justify-content: right;
                display: block !important;

                li {
                  width: 70px;
                  height: 70px;
                  cursor: pointer;
                  border-radius: 0;
                  margin-right: 30px;
                  background-size: 100%;
                  display: inline-block;
                  background-color: #fff;
                  transition: border 300ms;
                  background-position: center;
                  background-repeat: no-repeat;
                  border: 1px solid transparent;
                  background-image: url(/arquivos/ajax-loader.gif);

                  &.slick-active {
                    border-color: $cor-principal;
                  }

                  &:last-child {
                    margin-right: 0;
                  }

                  button {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      &>.column_2 {
        width: 100%;
        max-width: 500px;
        background-color: #fff;

        @media screen and (min-width: $mobile) {
          top: 0;
          right: 0;
          height: 100%;
          padding: 15px;
          position: absolute;
        }

        .productName {
          font-weight: bold;
          margin-bottom: 10px;
          text-transform: uppercase;

          @media screen and (min-width:$mobile) {
            font-size: 26px;
            line-height: 26px;
          }

          @media screen and (max-width:$mobile) {
            margin-top: 20px;
            font-size: 16px;
            line-height: 16px;
          }
        }

        .productReference {
          color: #818181;
          font-size: 16px;

          @media screen and (max-width:$mobile) {
            display: none;
          }
        }

        //B2B
        .box_grade {
          margin: 30px 0;

          .box_variations {
            >p {
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 15px;
            }

            ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;

              li {
                text-align: center;
                margin-bottom: 15px;

                //DESKTOP
                @media screen and (min-width:$mobile) {
                  width: calc(100% / 6);
                }

                //MOBILE
                @media screen and (max-width:$mobile) {
                  width: calc(100% / 5);
                }

                &[data-available="false"] {
                  opacity: 0.3;
                  pointer-events: none;
                }

                article {
                  width: 55px;
                  height: auto;
                  text-align: center;
                  display: inline-block;

                  @media screen and (max-width:$mobile) {
                    width: 50px;
                  }

                  .input {
                    input {
                      width: 100%;
                      height: 40px;
                      margin: 7px 0;
                      text-align: center;
                      border-radius: 2px;
                      border: 1px solid #dcdcdc;

                      @media screen and (max-width:$mobile) {
                        height: 45px;
                      }
                    }

                    .buttons {
                      display: flex;
                      align-items: center;
                      justify-content: space-between;

                      a {
                        width: 18px;
                        height: 18px;
                        padding: 2px;
                        color: #fff;
                        line-height: 15px;
                        border-radius: 5px;
                        text-align: center;
                        background-color: #000;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .view_price {
          .enter {
            width: 100%;
            height: 60px;
            font-size: 18px;
            color: #fff;
            display: flex;
            margin-bottom: 20px;
            font-weight: bold;
            line-height: 60px;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: $cor-cta;

            img {
              margin-left: 5px;
            }
          }

          .box {
            padding: 25px 15px;
            background-color: #f9f9f9;

            .title {
              font-size: 16px;
            }

            .description {
              margin: 10px 0;
              font-size: 14px;
              font-weight: 300;
              line-height: 21px;
            }

            a {
              text-decoration: underline;
            }
          }
        }

        //B2B
        .box_price {
          &:not(.dis-none) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          .column_1 {
            width: 50%;

            p {
              span {
                font-size: 31px;
                font-weight: bold;
                font-family: $font-secundaria;
                display: block;
              }
            }
          }

          .column_2 {
            width: 50%;

            .plugin-preco {
              margin-bottom: 0;

              em {
                font-style: normal;
              }

              .valor-dividido,
              .preco-a-vista,
              .valor-de {
                display: none !important;
              }

              .valor-por {
                font-size: 0;
                display: block;
                margin-top: 10px;

                strong {
                  display: block;
                  font-size: 31px;
                  line-height: 31px;
                  font-weight: bold;
                  font-family: $font-secundaria;
                }
              }
            }
          }
        }

        .cta {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media screen and (min-width:$mobile) {
            margin: 30px 0 10px;
          }

          .box_count {
            width: 32%;
            height: 60px;
            display: flex;
            padding: 0 10px;
            align-items: center;
            border: 1px solid #dcdcdc;
            justify-content: space-around;

            a {
              width: 20%;
              color: #fff;
              padding: 2px;
              border-radius: 5px;
              text-align: center;
              background-color: #000;
            }

            input {
              width: 40%;
              text-align: center;
            }
          }

          .sku-notifyme {
            padding: 25px;
            background-color: #f9f9f9;

            .notifyme-title-div {
              h3 {
                text-align: center;
                text-transform: uppercase;
              }
            }

            form {
              p {
                margin: 10px 0;
                font-weight: 300;
              }

              #notifymeClientEmail,
              #notifymeClientName {
                width: 100%;
                height: 40px;
                text-indent: 10px;
                margin-bottom: 10px;
                border: 1px solid #dcdcdc;
              }

              #notifymeButtonOK {
                float: right;
                width: 120px;
                height: 40px;
                display: block;
                color: #fff;
                cursor: pointer;
                appearance: none;
                font-weight: bold;
                -moz-appearance: none;
                -webkit-appearance: none;
                text-transform: uppercase;
                background-color: #000;
              }
            }
          }

          .buy-in-page-quantity {
            display: none !important;
          }

          .buy_custom {
            width: 100% !important;
          }

          .buy_custom,
          .buy-in-page-button {
            width: 65%;
            height: 60px;
            font-size: 0;
            color: #fff;
            display: flex;
            font-weight: bold;
            line-height: 60px;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: $cor-cta;

            &:before {
              font-size: 18px;
              content: 'adicionar ao carrinho';
            }

            &:after {
              content: '';
              width: 10px;
              height: 10px;
              margin-left: 5px;
              display: inline-block;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url('/arquivos/ico-arrow-right.png');
            }
          }
        }

        .info {
          width: 100%;
          height: 50px;
          display: block;
          color: #242424;
          font-size: 16px;
          line-height: 50px;
          text-align: center;
          background-color: #D2D2D2;

          @media screen and (max-width:$mobile) {
            display: none;
          }
        }

        .accordion {
          padding: 10px 0;

          @media screen and (min-width:$mobile) {
            &:first-child {
              margin-top: 25px;
              border-top: 1px solid #dcdcdc;
            }

            border-bottom: 1px solid #dcdcdc;
          }

          .btn {
            font-size: 20px;
            cursor: pointer;

            @media screen and (min-width:$mobile) {
              &:after {
                content: '+';
                float: right;
                font-size: 22px;
                font-weight: bold;
              }

              &.active {
                &:after {
                  content: '-';
                }
              }
            }
          }

          &.calcular_frete {
            margin-top: 20px;

            @media screen and (max-width:$mobile) {
              margin: 30px 0 60px;
            }

            .content {
              .columns {
                @media screen and (min-width:$mobile) {
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                }

                .column {
                  &.column_1 {
                    form {
                      margin-right: 15px;

                      @media screen and (min-width:$mobile) {
                        width: 250px;
                      }

                      @media screen and (max-width:$mobile) {
                        width: 100%;
                      }

                      fieldset {
                        .input {
                          height: 40px;
                          border-radius: 2px;
                          border: 1px solid #AFAFAF;

                          input {
                            float: left;

                            &[type="text"] {
                              width: 60%;
                              height: 100%;
                              text-indent: 35px;
                              background-position: 10px;
                              background-repeat: no-repeat;
                              background-image: url(/arquivos/ico-pin.png);
                            }

                            &[type="submit"] {
                              width: 40%;
                              height: 100%;
                              cursor: pointer;
                              font-weight: bold;
                              text-align: center;
                              text-transform: uppercase;
                              background-color: transparent;
                            }
                          }
                        }
                      }
                    }
                  }

                  &.column_2 {
                    @media screen and (max-width:$mobile) {
                      margin-top: 5px;
                      text-align: center;
                    }

                    a {
                      text-decoration: underline;
                    }
                  }

                  &.column_3 {
                    table {
                      padding: 10px;
                      margin-top: 10px;
                      border-radius: 4px;
                      border: 1px solid #dcdcdc;

                      tbody {
                        tr {
                          td {
                            padding: 6px 0;
                            border-top: 1px solid #dcdcdc;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &:not(.calcular_frete) {
            .content {
              @media screen and (min-width:$mobile) {
                display: none;
              }
            }
          }

          .content {
            margin-top: 15px;
          }
        }
      }
    }

    .compre_tambem {
      margin-bottom: 100px;

      .columns {
        @media screen and (min-width:$mobile) {
          display: flex;
          justify-content: space-between;

          .column_1 {
            width: 20%;
          }

          .column_2 {
            width: 80%;
          }
        }

        .column {
          &.column_1 {
            @media screen and (max-width:$mobile) {
              text-align: center;
              margin-bottom: 30px;

              br {
                display: none;
              }
            }

            h3 {
              text-transform: uppercase;

              @media screen and (min-width:$mobile) {
                font-size: 40px;
                margin-top: 60px;
                line-height: 49px;
              }

              @media screen and (max-width:$mobile) {
                font-size: 30px;
                line-height: 30px;
              }
            }

            p {
              margin: 30px 0;
              font-size: 20px;
              line-height: 28px;

              @media screen and (max-width:$mobile) {
                font-size: 16px;
              }
            }

            .link {
              display: block;
              font-size: 18px;
              text-align: right;
              font-weight: bold;
              padding-bottom: 13px;
              border-bottom: 1px solid #000;

              &:after {
                float: right;
                content: '\2192';
                margin-left: 5px;
              }

              &[href="#"] {
                display: none;
              }
            }
          }

          &.column_2 {
            @media screen and (min-width:$mobile) {
              padding-left: 50px;
            }

            .prateleira {
              &>h2 {
                display: none;
              }

              &>ul {
                &>li {
                  @media screen and (min-width:$mobile) {
                    width: calc(100% / 3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}