#quickView {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 300ms;
    background-color: rgba(0, 0, 0, .38);

    &:not(.active) {
        opacity: 0;
        visibility: hidden;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #fafafa;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $cor-principal;
    }

    .columns {
        display: flex;
        flex-wrap: wrap;
        max-width: 950px;
        max-height: 473px;
        background-color: #fff;
        justify-content: space-between;

        .close {
            width: 100%;
            display: block;
            color: white;
            cursor: pointer;
            text-align: right;
            margin-top: -18px;
            font-weight: bold;
        }

        .column {
            &.column_1 {
                width: 40%;

                ul {
                    &:not(.slick-slider) {
                        li {
                            &:not(:first-child) {
                                display: none;
                            }
                        }
                    }
                }
            }

            &.column_2 {
                width: 60%;
                padding: 20px;
                max-height: 473px;
                overflow-x: hidden;

                .name {
                    font-size: 24px;
                    line-height: 24px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }

                .ref {
                    color: #818181;
                    font-size: 16px;
                }

                #skuListQuickView {
                    margin: 20px 0;

                    p {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }

                    ul {
                        li {
                            cursor: pointer;
                            text-align: center;
                            margin: 0 10px 10px 0;
                            display: inline-block;
                            transition: all 300ms;
                            border: 1px solid #D8D8D8;

                            &[data-available="false"] {
                                color: #9C9C9C;
                                position: relative;
                                pointer-events: none;
                                background-color: #D6D6D6;

                                &:after {
                                    top: -5px;
                                    color: #fff;
                                    right: -5px;
                                    content: 'x';
                                    width: 20px;
                                    height: 20px;
                                    display: block;
                                    line-height: 20px;
                                    position: absolute;
                                    border-radius: 50px;
                                    background-color: #000;
                                }
                            }

                            @media screen and (min-width:$mobile) {
                                width: 45px;
                                height: 40px;
                                line-height: 40px;
                            }

                            &.active {
                                color: #fff;
                                border-color: #3D3D3D;
                                background-color: #3D3D3D;
                            }

                            &[data-sku="U"] {
                                display: none;
                            }
                        }
                    }
                }

                .price {
                    .por {
                        display: block;
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: bold;
                        margin-bottom: 3px;
                    }

                    .parc {
                        font-size: 16px;
                        color: #757575;
                    }
                }

                .cta {
                    display: flex;
                    margin: 20px 0;
                    align-items: center;
                    justify-content: space-between;

                    #countQuickView {
                        width: 32%;
                        height: 60px;
                        display: flex;
                        padding: 0 10px;
                        align-items: center;
                        border: 1px solid #dcdcdc;
                        justify-content: space-around;

                        a {
                            width: 20%;
                            color: #fff;
                            padding: 2px;
                            border-radius: 5px;
                            text-align: center;
                            background-color: #000;
                        }

                        input {
                            width: 40%;
                            text-align: center;
                        }
                    }

                    #buyQuickView {
                        width: 65%;
                        height: 60px;
                        font-size: 0;
                        color: #fff;
                        display: flex;
                        font-weight: bold;
                        line-height: 60px;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        background-color: $cor-cta;

                        &:before {
                            font-size: 18px;
                            content: 'adicionar ao carrinho';
                        }

                        &:after {
                            content: '';
                            width: 10px;
                            height: 10px;
                            margin-left: 5px;
                            display: inline-block;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-image: url('/arquivos/ico-arrow-right.png');
                        }
                    }
                }

                .info {
                    width: 100%;
                    height: 50px;
                    display: block;
                    color: #242424;
                    font-size: 16px;
                    line-height: 50px;
                    text-align: center;
                    background-color: #D2D2D2;
                }
            }
        }
    }
}