$font-principal: 'Montserrat', sans-serif;
$font-secundaria: 'Oswald', sans-serif;
$font-oswald: 'Oswald', sans-serif;

$branco: #fff;
$cor-principal: #354159;
$cor-secundaria: #DB6885;
$cor-cta: #009F35;
$cor-texto: #2e2e2e;

$mobile: 812px;
$iphone5: 360px;
$tablet-landscape: 768px;
$tablet: 1024px;
$small-monitor: 1366px;